<?xml version="1.0" encoding="UTF-8"?>

<mule 
	xmlns:os="http://www.mulesoft.org/schema/mule/os" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/os 
		http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
		http://www.mulesoft.org/schema/mule/http 
		http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
		http://www.mulesoft.org/schema/mule/core 
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
	">

	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f9658169-4d49-4098-bc42-94e7579bdd06" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>

	<os:object-store name="Table_Func" doc:name="Object store" doc:id="278c1898-2c43-4634-932f-e0e2190d5a6a" />
	<os:object-store name="Table_Winner" doc:name="Object store" doc:id="34eeb483-a1b7-4b1e-8a66-fe087fd81b82" />
	<os:object-store name="Table_Aggregator" doc:name="Object store" doc:id="9dfb3de5-48d8-47ec-9ba7-068bc31691f8" />

</mule>
